.task-window {
  flex-direction: row;
  display: flex;

  &__tasks-container {
    width: 50%;
  }

  &__log {
    width: 50%;
    background-color: black;
    color: white;

    pre {
      padding: 1em;
      white-space: pre-line;
      word-break: break-all;
      overflow-y: scroll;
    }
  }
}

.task-runner {
  margin: 0.5em;

  &__button {
    margin-left: 0.5em;
    margin-right: 0.5em;
  }

  &__show-hide-error {
    font-size: 12px;
    color: grey;
  }

  &__error-message {
    white-space: pre-line;
    word-break: break-all;
    overflow-y: scroll;
  }
}
