@import 'theme/colors';
@import 'theme/spacing';
@import 'theme/fonts';

button {
  //reset
  padding: 0px;
  margin: 0px;
  border: 0px;
  background-color: transparent;
}

.button {
  padding: $spacing-large;
  background-color: $color-action-primary;
  color: $color-text-inverse;
  font-size: $font-size * 1;

  &--primary {

  }

  &--secondary {
    background-color: $color-action-secondary;
  }

  &--warning {
    background-color: $color-warning;
  }

  &--disabled {
    background-color: $color-action-disabled;
    opacity: 0.6;
  }

  &:focus {
    outline: none;
  }
  &:active {
    transform: scale(0.99);
  }
}
