html, body {
  padding: 0;
  margin: 0;
  height: 100%;
}

#react-root {
  display: flex;
  height: 100%;
}

#react-root * {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
}

#header {
  flex-grow: 0;
  background-color: #F1F1F1;
}

#main-body {
  background-color: white;
}
