.git-window {

  .git-window-file {
    &--working-tree {
      color: red;
    }
    &--modified {
      color: orange;
    }
    &--staged {
      color: green;
    }
  }
}

.git-hunk-line {
  &--addition {
    color: green;
  }
  &--removal {
    color: red;
  }
}
