@import 'theme/colors';

.git-window {

  .git-window-file {
    &--working-tree {
      color: red;
    }
    &--modified {
      color: orange;
    }
    &--staged {
      color: green;
    }
  }
}

.git-hunk__code {
  background-color: $color-background-tint;
  padding-left: 1em;
  margin-left: 1em;
}

.git-hunk-line {
  &--addition {
    color: green;
  }
  &--removal {
    color: red;
  }
}
