
$color-text: black;
$color-text-inverse: white;

$color-background: white;

$color-action-primary: #1f8bfd;
$color-action-secondary: #7cbcff;
$color-action-disabled: #98a9bb;

$color-input-disabled: #dddddd;
$color-input-warning: #ffe7e7;

$color-warning: #f14e4e;
